<!DOCTYPE html>
<html>
<head>
<title>URL Shortener</title>
<style>
body {
    background: linear-gradient(135deg,#1e3c72,#2a5298);
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    font-family:Arial;
}
.container {
    background:rgba(255,255,255,0.1);
    padding:25px;
    border-radius:10px;
    color:white;
    text-align:center;
}
input {padding:10px;margin:6px;width:90%;}
button {padding:10px;background:#00c6ff;border:none;color:white;}
</style>
</head>

<body>
<div class="container">
<h2>URL Shortener</h2>

<input id="url" placeholder="Enter URL">
<input id="custom" placeholder="Custom code">

<button onclick="shorten()">Generate</button>

<div id="result" style="display:none">
<a id="link" target="_blank"></a>
<p>Clicks: <span id="clicks">0</span></p>
<img id="qr" width="120">
</div>

<p id="error"></p>
</div>

<script>
let code;

async function shorten(){
 try{
  let res = await fetch("/shorten", {
    method:"POST",
    headers:{"Content-Type":"application/json"},
    body:JSON.stringify({
      url:url.value,
      custom:custom.value || null
    })
  });

  let data = await res.json();

  if(data.short_url){
    link.innerText = data.short_url;
    link.href = data.short_url;
    result.style.display="block";

    code = data.short_url.split("/").pop();

    qr.src = "data:image/png;base64," + data.qr;

    setInterval(fetchStats,2000);
  } else {
    error.innerText = data.error;
  }

 } catch(e){
  error.innerText="Server error";
 }
}

async function fetchStats(){
 let res = await fetch("/stats/"+code);
 let d = await res.json();

 clicks.innerText = d.clicks;
}
</script>

</body>
</html>